{
    "Values": {
        "KC.ProjectId": "",
        "KC.SecuredApiKey": "",
        "AzureWebJobsStorage": "",
        "Azure.ContainerName": "",
        "Azure.ClearIndexUrl": ""
    },
    "IsEncrypted": false
}